<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('../includes/head.ejs') %>
    <link rel="stylesheet" href="/css/main.css" />
    <link rel="stylesheet" href="/css/login.css" />
  </head>

  <body>
    <%- include('../includes/navigation.ejs') %>
    <div class="wrapper">
      <section class="login_section">
        <form class="login_form" action="/signup" method="POST">
          <h2 class="welcome">Sign Up to Valren !</h2>
          <% if(errorMessage) { %>
          <div class="errorMessage">
            <p><%= errorMessage %></p>
          </div>
          <% } %>
          <label for="email">Email</label>
          <input
            type="email"
            class="login_input"
            name="email"
            id="email"
            value="<%= oldInput.email %>"
            autofocus
          />

          <label for="password">Password</label>
          <input
            type="password"
            class="login_input"
            name="password"
            id="password"
            value="<%= oldInput.password %>"
          />

          <label for="confirmPassword">Confirm Password</label>
          <input
            type="password"
            class="login_input"
            name="confirmPassword"
            id="confirmPassword"
            value="<%= oldInput.confirmPassword %>"
          />
          <input type="hidden" name="_csrf" value="<%= csrfToken %>" />
          <button class="btn" type="submit">Signup</button>
          <p class="login_para">
            Already have an account ?
            <a href="/login" class="login_instead">Login</a>
          </p>
        </form>
      </section>
    </div>

    <%- include('../includes/end.ejs') %>
  </body>
</html>
